@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 100%;
}

.about h3 {
  width: 100%;
  margin-inline: auto;
  margin-bottom: 2rem;
  color: hsl(300, 43%, 22%);
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
}

.about p {
  width: 100%;
  color: hsl(300, 43%, 22%);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.3rem;
  opacity: 0.5;
}

.ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rate {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  padding-block: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(300, 24%, 96%);
}

.stars {
  display: flex;
  gap: 0.8rem;
}

.fa-star {
  font-size: 1.4rem;
}

.rate h5 {
  color: hsl(300, 43%, 22%);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.review {
  background-color: hsl(300, 43%, 22%);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.7rem;
}

.review p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: hsl(0, 0%, 100%);
}

.review-head {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.rev-img {
  width: 4rem;
}
img {
  width: 100%;
  border-radius: 10rem;
}

.rev-user {
  display: block;
}
.rev-user h5 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: hsl(0, 0%, 100%);
}
.rev-user p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: hsl(333, 80%, 67%);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 47rem) {
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .about-ratings {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  .about {
    width: 100%;
  }

  .about h3 {
    width: 40%;
    text-align: left;
    line-height: 1.2;
    margin-inline: 0;
  }

  .about p {
    width: 69%;
    text-align: left;
    margin-inline: 0;
  }

  .ratings {
    width: 80%;
    padding-right: 6rem;
    margin-right: 5rem;
  }

  .rate {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 3rem;
  }

  .report-guru {
    margin-left: 3rem;
  }

  .best-tech {
    margin-left: 6rem;
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    padding-bottom: 6rem;
  }

  .irene {
    margin-top: 3rem;
  }

  .anne {
    margin-top: 6rem;
  }
}
